.container(style="padding-top: 50px")
	.row
		.page-header(style="padding: 0 0 20px 0;margin: 40px 0 30px 0").clearfix
			.col-md-4
				h2(style="margin: 0") #{title}
			.col-md-8.clearfix
				form(method="get",action="/results")
					.input-group.col-sm-4.pull-right
						input.form-control(type="text",name="q")
						span.input-group-btn
							button.btn.btn-default(type="submit") 搜索

.navbar.navbar-default.navbar-fixed-top
	.container
		.navbar-header
			a.navbar-brand(href="/") IMovie电影网
		if user
			p.navbar-text.navbar-right
				span 欢迎您，#{user.name}
				span &nbsp;|&nbsp;
				a.navbar-link(href="/logout") 退出
		else
			p.navbar-text.navbar-right
				a.navbar-link(href="#",data-toggle="modal",data-target="#signUpModal") 注册
				span &nbsp;|&nbsp;
				a.navbar-link(href="#",data-toggle="modal",data-target="#signInModal") 登录
			
#signUpModal.modal.fade
	.modal-dialog
		.modal-content
			form(method="post",action="/user/signUp")
				.modal-header 注册
				.modal-body
					.form-group
						label(for="signUpName") 用户名
						input#signUpName.form-control(name="user[name]",type="text")
					.form-group
						label(for="signUpPasswotd") 密码
						input#signUpName.form-control(name="user[password]",type="password")
				.modal-footer
					button#signUpButton.btn.btn-success(type="submit") 注册
					button.btn.btn-default(type="button",data-dismiss="modal") 关闭

#signInModal.modal.fade
	.modal-dialog
		.modal-content
			form(method="post",action="/user/signIn")
				.modal-header 登录
				.modal-body
					.form-group
						label(for="signInName") 用户名
						input#signInName.form-control(name="user[name]",type="text")
					.form-group
						label(for="signUpPassword") 密码
						input#signInPassword.form-control(name="user[password]",type="password")
				.modal-footer
					button.btn.btn-success(type="submit") 登录
					button.btn.btn-default(type="button",data-dismiss="modal") 关闭